@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #282A35;
}
/* ================================================== nav bar ================================================================*/
.container{
  width: 100%;
  height: 40px;
  display: flex;
  background: #fff;

}
.container nav{
  margin-top: auto;
  height: auto;
  padding: 4px;
  margin-left: 30px;
}
.container nav ul li{
  display: inline-block;
  list-style: none;
  font-size: 20px;
  padding:0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
.container nav ul li:after{
  content: '';
  width: 0;
  height: 3px;
  background: #2192ff;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: 0.5s;
}
.container nav ul li:hover::after{
  width:100%;
}
.but{
  margin-top: 5px;
  width: 73px;
  height: 28px;
  background: #00000030; 
  margin-left: auto;
  margin-right: 10px;
  border-radius:100px ;
  display: absolute;
}
.but button{
  font-weight: 500;
  padding: 5px;
  margin-top: -6px;
  background: none; 
  border: none;
  cursor: pointer;
  color: #000000; 
  font-size: 16px;
  display: absolute;
}
.but a{
  color:black;
  text-decoration: none;
}




/* ================================================== searching ================================================================*/
.searching{
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 760px;
  height: 300px;
  border-radius: 0px;
  background: transparent;
  position: flex;
  margin-top: 170px;
}
.search input{
  height: 66px;
  width: 90%;
  outline: none;
  font-size: 25px;
  border-radius: 100px;
  padding: 0 42px;
  border: 1px solid #999;
}
.search input:focus{
  padding: 0 41px;
  border: 2px solid #4D59FB;
}
.search input::placeholder{
  color: #B8B8B8;
}

.search {
  position: relative;
}

.search input[type="text"] {
  padding-right: 30px;
}
.search i {
  position: absolute;
  margin-top: 23px;
  margin-bottom: auto;
  right: 100px; 
  color: #000000;
  font-size: 25px;
}
.searching h1 {
  font-size: 30px;
  color: #ffffff;
  margin-left: 20px;
}
.searching h3{
  color: #f9f5ff78;
  margin-left: 20px;
}

/* ================================================== FOOTER ================================================================*/
.footer{
    width: 100%;
    height: 350px;
    background-color: #1b1111;
    display: grid;
    grid-template-rows: 62px 3fr 80px; 
  }
  .checked{
    margin-top: 30px;
    width: 617px;
    height: 30px;
    background-color: #ffffff00;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 30px;
  }
  .checked a{
    padding: 18px;
    color:rgb(255, 255, 255);
    text-decoration: none;
  }
  .text{
    color:white ;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  }
  .text .l1{
    margin-left: 20px;
  }
  .text .l2{
    margin-left: 0px;
  }
  .text h3{
    margin-top: 40px;
    margin-left: -10px;
  }
  .some a{  
    font-size: 40px;
    padding: 20px;
    color:#ffffff;
  }
  .some{
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

/* ================================================== dictionary ================================================================*/

.dictionary{
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: auto;
    width: 75%;
    border-radius: 10px;
    padding: 3%;
}
.head{
  background-color: #2194ff00;
  display:grid;
  grid-template-rows: auto auto;

}
.word-head .word{
  font-size: 40px;
  color: #000000;
  margin-left: 20px;
}
.spell{
  font-size: 22px;
  margin-left: 10px;
  color: #00000055;
}
.head .translate{
  margin-top: -10px;
  margin-left: 20px;
  font-size: 20px;
}
.head .type{
  margin-left: 20px;
}
.verb .head,
.adj .head ,
.noun .head {
  display: grid;
  font-size: 23px;
  grid-template-columns: auto 1fr auto;
  background-color: rgba(241, 241, 11, 0.299);
  border: #000000;
}

.verb .head p,
.adj .head p,
.noun .head p{
  margin-left:7px ;
  font-size: 23px;
}

.verb .body,
.adj  .body,
.noun .body{
  display: grid;
  grid-template-rows: auto;
}

.verb .mean,
.adj .mean,
.noun .mean{
  font-size: 23px;
}