body {
    background-image: url("image/bg.png");
    background-size: cover;
  }
.headbar{
  width: 100%;
  height: 50px;
}
.container {
    
    margin-left: 10px;
    width: 746px;
    height: 30px;
    border: 1px solid black;
    padding: 10px;
  }
.button {
    color:red;
    background-color: transparent;
    border: transparent;
    width: 134px;
    height: 27px;
    font-size: 16px;
    margin-left: 0px;
    font-size: 20px;
  }
.button:hover {
    color: black; 
  }
.form{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;

}